/*-------CSS properties RESET ---------------*/

body, header, footer, div, p, input, h1, h2, h3, h4, h5, h6, ul, li
{
	margin:0px;
	padding:0px;
}

ul, li
{
	list-style:none;
}

/*------ MAIN PROPERTIES --------------------*/

body
{
	font-size:13px;
	font-family:Arial, sans-serif;
	color:#444444; 
}

body a, body a:active
{
	text-decoration:none;
	color:#1AB7EA;
}

body a:hover
{
	text-decoration:underline;
}

#results_zone_loading { display:none; }
