/* ------- MAIN ----------------------------*/

#main
{
	padding-top:12px;
	float:left;
	width:100%;
	min-height:500px;
}

#main_container
{
	margin:auto;
	width:850px;
}

#message
{
	float:left;
	padding-bottom:12px;
	width:100%;
	color:red;
}

/*-------- RESULTS ZONE --------------------*/

#left_column{
    float:left;
	width:38%;
}


#results_zone
{
	float:left;
	margin-right:12px;
}

#results_title h3
{
	float:left;
	width:96%;
	margin-top:20px;
	padding-bottom:12px;
	padding-left:12px;
	font-size:17px;
	text-transform:uppercase;
	letter-spacing:-1px;
}

.trice
{
	float:left;
	padding:12px;
	width:93%;
	background:#6699CC;
	border-top: 1px solid #E5E1C8;
	border-bottom:1px solid #E5E1C8;
}
.odd
{
	float:left;
	padding:12px;
	width:93%;
	background:#D8ECF9;
	border-top: 1px solid #E5E1C8;
	border-bottom:1px solid #E5E1C8;
}

.even
{
	float:left;
	padding:12px;
	width:93%;
	border-top: 1px solid #E5E1C8;
	border-bottom:1px solid #E5E1C8;
}

/*-------- MAP ZONE ------------------------*/

#map_zone
{
	margin-top:20px;
	margin-bottom:20px;
	float:left;
	width:62%;
}

#map_zone iframe
{
	float:left;
	width:106%;
	height:400px;
}

/*--------- PAGINATION ------------*/

#pagination_container{
    margin:auto;
    width:120px;
}

#pagination
{
    margin-top:10px;
    margin-bottom:20px;
    float:left;
    width:100%;
    text-align:center;
}

#next{
    float:left;
    width:50%;
}

#prev{
    float:left;
    width:50%;
}
